version: "3.9"

services:
  client:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: kwans2_client_prod
    restart: unless-stopped
    env_file: .env.prod
    depends_on:
      - mongo
      - lavalink
    ports:
      - 9009:9090
    networks:
      - internal

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4
    container_name: kwans2_lavalink_prod
    restart: unless-stopped
    volumes:
      - ./lavalink/application.yml:/opt/Lavalink/application.yml
      - ./lavalink/plugins:/opt/Lavalink/plugins
    networks:
      - internal

  mongo:
    image: mongo:7
    container_name: kwans2_mongo_prod
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - internal

networks:
  internal:

volumes:
  mongo_data: